* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(230,230,230)
}

::-webkit-scrollbar-thumb {
    background: rgb(191,186,255);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(101,96,160);
}

.about {
    align-items: center;
    background: rgba(230, 230, 230, 0.5);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-start;
    padding-bottom: 4em;
    padding-top: 4em;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.aboutrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 50%;
}

.aboutrow:last-child {
    width: 50%;
}

.aboutrow div {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aboutrow .head {
    margin-bottom: 24px;
}

.address div {
    display: flex;
    flex-direction: column;
}

.address div p {
    margin: 0;
}

body#home {
    background-image: url(../img/mainpage-blur.jpg);
}

body#services {
    background-image: url(../img/services-blur.jpg);
}

.btmNav {
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 5px grey;
    display: none;
    flex-direction: row;
    height: 56px;
    justify-content: space-around;
    left: 0;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.column {
    width: 30%;
}

.columnTxt {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.columnTxt p {
    border-bottom: 2px dashed rgba(230, 230, 230, 0.5);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    transition: .5s;
}

.columnTxt p:last-child {
    border-bottom: 0;
}

.columnMobile {
    border-bottom: 2px dashed rgba(30, 30, 30, 0.5);
    margin: 0;
    transition: .5s;
    width: 100%;
}

.columnMobile:last-child {
    border-bottom: 0;
}

.columnCont {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.columnHead {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
}

.columnMain {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.contact {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
}

.contact input[type="text"] {
    margin-left: .5em;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}

.contact input[type="submit"] {
    background: rgba(50, 50, 230, 0.4);
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: white;
    text-align: center;
    transition: .4s;
}

.contact input::placeholder {
    color: rgba(210, 210, 210);
}

.contact input:focus {
    outline: none;
}

.contact textarea {
    margin-top: 1em;
    border: 1px solid rgba(190,190,190,0.3);
    border-radius: 10px;
    background: rgba(210, 210, 210, 0.5);
}

.contact {

}


footer {
    background-color: white;
    color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
}

.googReview {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2%;
    width: 600px;
}

.googReview .review {
    border-bottom: 2px groove rgba(0,0,0,0.3);
}

.googReview .review:last-child {
    border-bottom: none;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.header {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    width: 80%;
}

.hours p {
    margin: 5px;
    white-space: nowrap;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.mainCont {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.mobile {
    align-content: center;
    align-items: center;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    text-align: center;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

.mainpgeTxt {
    width: 40%;
}

.menubar {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-around;
    padding: 15px;
    width: 45px;
}

.menubar span {
    background-color: black;
    height: 2px;
    width: 18px;
}

nav {
    background-color: white;
}

.nav-left {
    background-color: white;
    box-shadow: 0 3px 5px grey;
    height: 100%;
    left: -400px;
    position: absolute;
    transition-duration: .25s;
    width: 400px;
    z-index: 4;
}

.nav-top {
    align-items: center;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    padding: 0 66px;
    position: relative;
    z-index: 5;
}

.nav-top .left {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top .left p {
    padding: 0 20px;
}

.nav-top p {
    font-size: 22px;
}

.nav-top .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top .right a {
    color: #48487f;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 0 16px;
}

.navBtm {
    align-items: center;
    color: #48487f;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    justify-content: space-around;
}

.navul {
    color: #48487f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 64px;
    padding-left: 30%;
    padding-top: 40px;
    width: 100%;
}

.phone p {
    margin: 0;
}

.purpleBtn {
    background-color: #48487f;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 19px 54px;
    text-transform: uppercase;
}

.purpleBtn:hover {
    background-color: #4a4a59;
}

.reviewTop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
}

.reviewTop p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reviewTop p:last-child {
    color: rgba(0,0,0,0.7);
}

.row {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowContainer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.rowServices {
    align-content: center;
    text-align: center;
}

.servicesTxt {
    width: 30%;
}

.span1 {
    transition-duration: .25s;
}

.span2 {
    transition-duration: .25s;
}

.span3 {
    transition-duration: .25s;
}

.stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title {
    color: #48487f;
    font-family: 'Libre Baskerville', serif;
}

.twoRows {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.txtCont {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
}

.txtCont a {
    background: rgba(50, 50, 230, 0.4);
    border-radius: 20px;
    color: white;
    padding: 2% 4%;
    text-align: center;
    transition: .4s;
}

.txtCont a:hover {
    background: rgba(100, 100, 230, 0.4);
}

.txtButtons {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1770px) {
    
}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 640px) {
    .about {
        max-height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .aboutrow {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .address div {
        margin-bottom: 60px;
    }
    #bgImg {
        display: none;
    }
    .btmNav {
        display: flex;
    }
    footer {
        display: none;/*out of sight, out of mind*/
    }
    .googReview {
        margin-top: 20px;
        width: 90%;
    }
    .mainCont {
        background-color: rgba(250, 250, 250);
    }
    .mainpgeTxt {
        width: 90%;
    }
    .map {
        height: auto;
        max-width: 100%;
    }
    .map iframe {
        height: auto;
        max-width: 100%;
    }
    .nav-left {
        width: 300px;
    }
    .nav-top {
        justify-content: center;
        padding: 0 10px;
    }
    .nav-top .left p {
        font-size: 16px;
        padding: 0;
    }
    .nav-top .right {
        display: none;
    }
    .purpleBtn {
        max-width: 60%;
    }
    .row {
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .rowContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
    .servicesTxt {
        width: 80%;
    }
    .txtButtons {
        flex-direction: column;
    }
    .txtCont a {
        margin: 8px 0;
        width: 75%;
    }
    .mobile {
      display: flex;
    }
    .columnCont {
      display: none;
    }

    .contact textarea {
      width: 100%;
    }

}

@media only screen and (max-width: 320px) {

}
