* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

#bgImg {
    height: 110%;
    filter: blur(5px) brightness(50%);
    margin: 0;
    position: relative;
    top: 0;
    width: 120%;
    z-index: 0;
}

.column {

    width: 30%;
}

.columnTxt {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.columnTxt p {
    padding-top: 8%;
    padding-bottom: 8%;
    transition: .5s;
    margin: 0;
    border-bottom: 2px dashed rgba(230, 230, 230, 0.5);
}

.columnTxt p:last-child {
    border-bottom: 0;
}

.columnTxt p:hover {
    background: rgba(100, 100, 230, 0.4);
}

.columnCont {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
align-content: center;    width: 100%;
}

.columnHead {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    padding: 1%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.columnMain {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

footer {
    color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
}

.googReview {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    overflow: hidden;
    padding: 2%;
    width: 600px;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.header {
    width: 80%;    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    width: 80%;
}

.mainCont {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.mainpgeTxt {
    width: 40%;
}

.menubar {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-around;
    padding: 15px;
    width: 45px;
}

.menubar span {
    background-color: black;
    height: 2px;
    width: 18px;
}

.nav-left {
    background-color: white;
    box-shadow: 0 3px 5px grey;
    height: 100%;
    left: -400px;
    position: absolute;
    transition-duration: .25s;
    width: 400px;
    z-index: 4;
}

.nav-top {
    align-items: center;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    padding: 0 66px;
    position: relative;
    z-index: 5;
}

.nav-top .left {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top .left p {
    padding: 0 20px;
}

.nav-top p {
    font-size: 22px;
}

.nav-top .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top .right a {
    color: #48487f;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 0 16px;
}

.navul {
    color: #48487f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 64px;
    padding-left: 120px;
    padding-top: 40px;
    width: 400px;
}

.reviewTop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
}

.reviewTop p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reviewTop p:last-child {
    color: rgba(0,0,0,0.7);
}

.row {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowContainer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.rowServices {
    align-content: center;
    text-align: center;
}

.servicesTxt {
    width: 30%;
}

.span1 {
    transition-duration: .25s;
}

.span2 {
    transition-duration: .25s;
}

.span3 {
    transition-duration: .25s;
}

.stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title {
    color: #48487f;
    font-family: 'Libre Baskerville', serif;
}

.twoRows {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.txtCont {
    background: rgba(230, 230, 230, 0.5);
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
}

.txtCont a {
    background: rgba(50, 50, 230, 0.4);
    border-radius: 20px;
    color: white;
    padding: 2%;
    text-align: center;
    transition: .4s;
    width: 20%;
}

.txtCont a:hover {
    background: rgba(100, 100, 230, 0.4);
}

.txtButtons {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


/*https://goo.gl/maps/JDVas8QyXwGMDcdX8*/
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 320px) {

}
